window.gfret-window .themeswitcher checkbutton.theme-button {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}

window.gfret-window .themeswitcher checkbutton.theme-button:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

window.gfret-window .themeswitcher checkbutton.theme-system {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}

window.gfret-window .themeswitcher checkbutton.theme-light {
  background-color: #fff;
}

window.gfret-window .themeswitcher checkbutton.theme-dark {
  background-color: #202020;
}

window.gfret-window .themeswitcher checkbutton.theme-button radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}

window.gfret-window .themeswitcher checkbutton.theme-button radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}
